*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

.content-box-component: {
    box-sizing: content-box;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;

    background-color: #849d8f;
    background-image: url("../img/icecream-slider-1.png");
    background-position: top center;
    background-repeat: no-repeat;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    padding: 0 2.3%;
}

.inner-page {
    background-image: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    
    color: #ffffff;
    line-height: 24px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;

    background-color: #e74a35;
    background-image: linear-gradient( to top, #ca3824, #f26843);
    box-shadow: 0px 2px 2px 0px #ac1000;
    border: none;
    border-radius: 32px;  
}

.button:hover,
.button:focus {

        background-image: linear-gradient( to top, #f58769, #eb6e5f);
        box-shadow: 0px 1px 2px 0px #ac1000;
}

.button:active {
        background-image: linear-gradient( to top, #f26843, #e74a35);
        box-shadow: inset 0px 2px 2px 0px #942718;       
}

.button-big {
    line-height: 32px;
    font-size: 32px;
    text-shadow: 0 2px 5px #a0200b;
}

.button-big:hover,
.button-big:focus {
    box-shadow: 0px 2px 2px 0px #ac1000;
}

.main-navigation {
    display: flex;
    align-items: center;
    margin-top: 9px;
}

.main-header-logo {
    width: 154px;
    height: 64px;
}

.main-menu {
    margin: 0;
    padding: 0;
    margin-top: -2px;
    margin-left: 8px;
    width: 560px;
}

.main-menu .main-menu-item {
    display: inline-block;
    margin-right: -4px;
}

.user-menu {
    display: flex;
    margin: 0;
    padding: 0;
    width: 270px;
    margin-left: auto;
}

.main-menu span {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-menu-item > a,
.user-menu a {
    display: block;
    padding: 8px 14px;

    color:#ffffff;
    line-height: 18px;
    font-weight: 700;
    text-align: center;

    border-radius: 20px;
}

.user-menu a {
    line-height: 16px;
    font-size: 14px;

    background-color: rgba(255, 255, 255, 0.2);
}

.user-menu a:hover,
.user-menu a:focus {
    color: #000000;

    background-color: #ffffff;
}

.user-menu .cart.full {
    color: #323232;

    background-color: #ffffff;
}

.main-menu-item > a:hover,
.main-menu-item > a:focus {
    color: #333333;

    background-color: #ffffff;
}

.main-menu-item > a:active {
    box-shadow: inset 0px 2px 1px 0px #696969;   
}

.main-menu .main-menu-current,
.sub-menu .sub-menu-current {
    color: #ffffff;

   background-color: #d07058; 
}

.main-menu-current span {
    border: 0;
}

.main-menu > li {
    position: relative;
}

.main-menu .sub-menu {
    position: absolute;
    left: -5px;
    z-index: 1;

    display: none;
    width: 143px;
    padding: 0;
    margin: 0;
    margin-top: -1px;
    padding-top: 5px;
    background-color: transparent;

    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}


.sub-menu-pointer:hover .sub-menu {
    display: block;
}

.sub-menu a {
    display: block;
    padding: 8px 20px;

    font-size: 14px;
    line-height: 16px;
    color: #323232;
    background-color: #f8f7f4;
}

.sub-menu-item:first-child a {
    padding-top: 12px;
    padding-bottom: 12px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.sub-menu-item:last-child a {
    padding-bottom: 12px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.sub-menu a:hover,
.sub-menu a:focus {
    background-color: #fbded7;
}

.sub-menu a:active {
    background-color: #f6b5a5;
}

.sub-menu .new-items {
    font-weight: 700; 
}

.sub-menu .new-items::after {
    content: "";

    display: block;
    width: 125px;
    margin-top: -1px;
    margin-left: 10px;

    border-bottom: 1px solid rgba(50, 50, 50, 0.2);
}

.breadcrumbs {
    display: flex;
    align-items: flex-end;
    padding: 0;
    margin: 0;

    font-weight: 400;
}

.breadcrumbs li {
    display: inline;
}

.main-contacts {
    margin: 0;
    padding: 0;

    line-height: 16px;
    font-size: 14px;;
    font-weight: 700;
    text-align: right;
}

.main-contacts span {
    display: block;
    margin-top: 4px;

    line-height: 24px;
    font-size: 22px;
    letter-spacing: -0.3px;
}

main h1 {
    margin-top: 10px;;
}

.slider-list {
    margin: 0;
    padding: 0;
}
.slider {
    margin: 0;
    padding: 0;
    min-height: 495px;
}

.slider p {
    display: block;
    margin: 0 auto;
    width: 670px;

    line-height: 60px;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
}

.special-offer {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-top: 35px;;
    padding: 0;
}

.special-offer-item {
    margin: 0;
    padding: 0;
    width: 560px;
    min-height: 229px;


    font-size: 18px;
    font-weight: 700;
}

.special-offer-item strong{
    display: block;

    line-height: 41px;
    font-size: 35px;
}

.special-offer-1 {
    background-color: #841839;
    background-image: url("../img/background-1.jpg"); 
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
}

.special-offer-2 {
    background-color: #613825;
    background-image: url("../img/background-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
}

.goods-catalog {
    margin: 0;
    padding: 0;
    margin-top: 40px;;
}

.goods-catalog img {
    border-radius: 50%;
}

.goods-item {
    position: relative;

    width: 267px;
    min-height: 328px;

    text-align: center;
}

.goods-item:not(:nth-child(-n+4)) {
    margin-top: 34px;
}

.goods-item:hover {
    background-color: rgba(255, 255, 255, 0.2); 
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.goods-item img {
    margin-bottom: 8px;;
}

.goods-item h3 {
    display: inline;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;

    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.goods-item-price {
    position: absolute;
    top: 210px;

    margin: 0;
    padding: 0;


    line-height: 45px;
    font-size: 45px;
    font-weight: 700;
    white-space: pre;
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.goods-item-price span {
    font-size: 30px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.advantages {
    margin-top: 35px;
    min-height: 306px;
    padding: 24px 20px;

    color: #323232;

    background-color: #eee2ca;
    background-image: url("../img/pattern.jpg");
    border-radius: 15px;
}

.advantages p {
    margin: 0;
    padding: 0;
}

.advantages-item {
    width: 540px;
}

.advantages .advantages-about-us {
    line-height: 30px;
    font-size: 24px;
    font-weight: 500;
}

.blog-subscribe {
    margin-top: 40px;
    min-height: 220px;
}

.last-blog-topic {
    width: 560px;
    
    background-image: url("../img/background-3.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.last-blog-topic h2 {
    padding-left: 22px;
    padding-top: 28px;

    color: #323232;
    line-height: 22px;
    font-size: 16px;
    font-weight: 400;
}

.last-blog-topic h3 {
    margin-left: 22px;
    width: 280px;
}

.last-blog-topic a {
    color: #323232;
    line-height: 30px;
    font-size: 24px;
    text-decoration: underline;
}

.subscribe {
    width: 560px;
    padding: 6px;

    color: #5a5a5a;

    background-color: #f8f7f4;
    background: repeating-linear-gradient(
        130deg, #f8f7f4, #f8f7f4 7px,
                #92cdff 7px, #92cdff 14px,
                #f8f7f4 14px, #f8f7f4 21px,
                #fe9e90 21px, #fe9e90 28px);
    border-radius: 15px;
}

.subscribe p {
    margin: 0;
}


.subscribe-container {
    height: 100%;

    background-color: #f8f7f4;
    border-radius: 7px;
}

.map-contacts {
    position: relative;

    margin-top: 38px;
}

.contacts {
    position: absolute;
    top: 62px;
    right: 27px;

    width: 302px;
    height: 305px;
    padding: 35px 25px;

    color: #323232;
    line-height: 20px;
    font-size: 14px;

    background-color: #ffffff;
    border-radius: 15px;
}

.contacts b {
    line-height: 24px;
    font-size: 18px;
}

.breadcrumbs {
    line-height: 16px;
    font-size: 14px;
}
.breadcrumbs a {
    color: #ffffff;

    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
    color: #ffbc9e;
    
    border-bottom-color: rgba(255, 188, 158, 0.2);
}

fieldset {
    border: none;
}

.filter {
    display: flex;
    margin-top: 10px;
    min-height: 160px;
}

.filter-field {
    background-color: rgba(255, 255, 255, 0.2);
}

.filter-button {
    font: inherit;
    color: #ffffff;

    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid #ffffff;
    border-radius: 20px;
}

.filter-button:hover,
.filter-button:focus {
    color: #323232;

    background-color: #ffffff;
}

.filter-button:active {
    color: #323232;

    background-color: #ffffff;
    box-shadow: inset 0px 2px 1px 0px  #696969;
}

select {
    color: #ffffff;
    background-color: transparent;
}

select:hover {
    color: #323232;
}

select option {
    color: #323232;
}

.pagination-list a {
    color: #ffffff;
}

.pagination-item-current a{
    color: #323232;
    
    background-color: #ffffff;
}       

.pagination-item a:hover,
.pagination-item a:focus {
    background-color: rgba(255, 255, 255, 0.2)
}

.pagination-item a:active {
    color: #323232;
    
    background-color: #ffffff;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px ;
}

.main-footer .footer-social,
.main-footer .footer-info {
    display: flex;
    padding: 0;
    margin: 0;
}

.main-footer .footer-social,
.main-footer .footer-copyright {
    width: 268px;
}

.main-footer .footer-info {
    width: 560px;
    padding-left: 128px;
}

.main-footer a {
    color: #ffffff;
    font-size: 13px;

    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-footer .social-button {
    border: 3px solid rgba(255,255,255,.5);
}

.main-footer .suppliers {
    font-weight: 700;
}

.main-footer a:hover,
.main-footer a:focus,
.main-footer a:active {
    color: #ffbc9e;
    
    border-bottom-color: rgba(255, 188, 158, 0.2);
}

.footer-copyright {
    padding: 0;
    margin: 0;

    line-height: 18px;
    font-size: 12px;
}

.modal {
    padding: 20px;

    color: #323232;
    line-height: 24px;
    font-size: 13px;

    background-color: #f8f7f4;
}

.modal-login a {
    color: inherit;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3)
}

.modal-feedback strong {
    line-height: 28px;
    font-size: 24px;
    font-weight: 700;
}

.modal-cart-order {
    line-height: 16px;
}

.cart-list .item-price {
    color: #999999;
}

.modal-cart-order .cart-total-price {
    line-height: 18px;
    font-size: 15px;
    font-weight: 700;
}

input,
textarea {
    padding-left: 15px;
    width: 100%;
    height: 44px;

    font: inherit;
    color: #323232;
    font-size: 16px;

    outline: none;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
}

textarea {
    width: 428px;
    height: 155px;
    resize: none;
}

input::placeholder,
textarea::placeholder {
    color: #999999;
}

input:hover,
textarea:hover {
    border: 2px solid #c7c6c5;
}

input:focus,
textarea:focus {
    border: 2px solid #8fbdec;
}

input:not(:invalid),
textarea:not(:placeholder-shown) {
    font-weight: 700;
}

.modal-search {
    width: 341px;
    min-height: 84px;
}

.modal-login {
    width: 277px;
    min-height: 214px;
}

.modal-login input {
    width: 100%;
}

.modal-feedback {
    width: 477px;
    min-height: 442px;
}